.container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  min-height: 300px;
  margin: 1em 0;
}

.imageWrapper {
  position: relative;
  width: 400px;
  height: 300px;
  display: flex;
  margin: 0 1em;
  flex-shrink: 0;
}

.image {
  object-fit: cover;
  border-radius: 30px;
}

.text {
  padding: 1em;
}

.title {
  font-size: xx-large;
  color: #1d2024;
}

.information {
  color: grey;
  font-size: large;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 0;
}

.tag {
  background-color: rgb(225, 223, 223);
  color: #313439;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5; /* light neutral color */
  border-radius: 30px;
}
