/* global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Crimson+Pro:wght@400;700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', serif;
    color: #7A7C80;
    font-size: 1.2rem;
}

a{
    color: #7A7C80;
    text-decoration: underline;
}

/* section 1 */
.section-1{
    padding-top: 10vh;
    text-align: center;
    font-family: 'Crimson Pro', serif;
}

.section-1 p{
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 3rem;
    margin-bottom: 10px;
}

/* section 2 */
.section-2{
    padding: 1rem;
    width: 100%;
    margin: 1rem;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    padding-bottom: 10px;
    width: 90%;
}

.section-2 a{
    display: inline;
}

/* footer */

.footer{
    text-align: center;
    
}