.wrapper {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}

.content {
  flex: 3;
  min-width: 0;
}

.desktopSidebar {
  flex: 1;
  transition: transform 0.3s ease;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }

  .desktopSidebar {
    display: none;
  }
}
