.container {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  font-size: xx-large;
  padding: 0.5em 0 0;
}

.image {
  border-radius: 30px;
}

.info {
  gap: 0.5em;
  font-size: large;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 0;
}

.tag {
  background-color: lightgray;
  color: #313439;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1.2rem;
}

.children p {
  line-height: 1.75;
  margin: 1.2rem 0;
}

.children {
  border-top: 1px solid #ccc;
}

.children ul {
  list-style-type: circle;
  padding-left: 1.5rem;
}

.children ol {
  list-style-type: decimal;
    padding-left: 1.5rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ccc;
}

.navLink {
  font-size: large;
}

.headingSection {
  font-size: larger;
  font-family: var(--font-playfair-display), serif;
  color: grey;
  font-weight: bold;
  margin-top: 1rem;
}