/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/about-me/styles.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.styles_about__vXalB {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin: 0 auto;
    gap: 2em;
}

.styles_image__qWxeU {
    flex: 1;
    max-width: 100%;
    height: auto;
} 

.styles_text__IWQ8_ {
    flex: 1;
    color: grey;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.styles_about__vXalB p {
    margin-bottom: 1em;
}

