@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Antic Didone'; 
  src: url('https://fonts.google.com/specimen/Antic+Didone'); /*URL to font*/
}

* {
  font-family: 'Antic Didone', Georgia, 'Times New Roman', Times, serif;
}
