.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    flex: 1;
    padding: 2em 1.5em;
    position: relative;
    align-items: center;
  }